# Virtual environments
venv/
.venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs, temporary files
*.log
events_log.txt

# Model weights (optional if you download them locally)
*.pt
*.onnx